:root {
  /* 默认是白天模式 */
  --background-color: #ffffff;
  --text-color: #000000;
  --card-background-color: #f5f5f5;
  --chatgpt-menu-background-color: #f9f9f9;
  --chatgpt-background-color: #ffffff;
  --chatgpt-menu-button-hover-color: #ece8ed;
  --chatgpt-button-hover-color: #f9f9f9;
  --chatgpt-text-color: #8c8c8c;
}

@media (prefers-color-scheme: dark) {
  /* 当系统处于夜间模式时 */
  :root {
    --background-color: #333333;
    --text-color: #ffffff;
    --card-background-color: #444444;
    --chatgpt-menu-background-color: #1b191e;
    --chatgpt-background-color: #1e1e1e;
    --chatgpt-menu-button-hover-color: #ece8ed;
    --chatgpt-button-hover-color: #f9f9f9;
    --chatgpt-text-color: #8c8c8c;
  }
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}